.main
{
  min-height: 40vh;
}

.image
{
  max-width: 100%;
  display: block;
}

.writteButton
{
  width: 100% !important;
}

.imgContainer{
  margin-top: 0 !important;
}

@media screen and (max-width: 768px) {
  .imgContainer{
    margin: 1rem 0 !important;
  }
}